

<p id="notice"><%= notice %></p>
<div class="container mt-5 col-lg-9 col-md-10 col-sm-12 col-xs-12">
  <h1 class="mb-5 shadow-none p-3 mb-5 bg-light rounded"><%= link_to 'Voltar', posts_path, class: "btn btn-primary btn-lg text-white" %></h1>
  <div class="shadow-none p-3 mb-5 bg-light rounded d-flex row justify-content-center">
    <div class="d-flex flex-column mb-3 col-lg-9 col-md-10 col-sm-12 col-xs-12">
      <div class="card mb-3 shadow-sm">
        <div class="card-body shadow-sm">
          <h4 class="card-title text-center"> <%= @post.title %></h4>
        </div>
        <div class="comment-widgets scrollable">
          <div class="d-flex flex-row comment-row mt-0">
            <div class="p-2">
              <img
                src="../assets/images/users/1.jpg"
                alt="user"
                width="50"
                class="rounded-circle"
                />
            </div>
            <div class="comment-text w-100">
              <h6 class="font-medium">Autor:  <%= @post.name %> </h6>
              <span class="mb-3 d-block">  <%= @post.body %></span>
              <div class="comment-footer">
                <span class="text-muted float-end"><%= @post.created_at %></span>
                <%#= link_to 'Show', post, class:"btn btn-success btn-sm text-white" %>
                <% if current_user.admin? %>
                  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary btn-sm text-white"  %>
                  <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm text-white" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="d-flex flex-column">
        <%= render 'posts/partials/comments' %>
      </div>
    <div class="d-flex flex-column">
      <%= render 'posts/partials/new_comment' %>
    </div>

      </div>

</div>
